<div class="l-cluster">
  <button type="button" class="c-button">
    <svg class="c-icon" aria-hidden="true" focusable="false"><use href="#mcss-icon-download"></use></svg>
    Download the invoice
  </button>
  <a class="c-button c-button--ghost" href="https://design.gitlab.com/">
    Pajamas docs
    <svg class="c-icon c-icon--sm" aria-hidden="true" focusable="false"><use href="#mcss-icon-external-link"></use></svg>
  </a>
  <button type="button" class="c-button" aria-label="Copy the API key">
    <svg class="c-icon" aria-hidden="true" focusable="false"><use href="#mcss-icon-copy"></use></svg>
  </button>
</div>
