<fieldset class="c-form-field">
  <legend class="c-form-field__label">Delivery speed</legend>
  <div class="l-stack l-stack--sm">
    <div class="c-radio">
      <input class="c-radio__input" type="radio" id="delivery-standard" name="delivery" value="standard" checked aria-describedby="delivery-standard-hint">
      <label class="c-radio__label" for="delivery-standard">Standard</label>
      <p class="c-radio__hint" id="delivery-standard-hint">3 to 5 working days, free.</p>
    </div>
    <div class="c-radio">
      <input class="c-radio__input" type="radio" id="delivery-next" name="delivery" value="next-day" aria-describedby="delivery-next-hint">
      <label class="c-radio__label" for="delivery-next">Next day</label>
      <p class="c-radio__hint" id="delivery-next-hint">Order by 4pm, £4.99.</p>
    </div>
    <div class="c-radio">
      <input class="c-radio__input" type="radio" id="delivery-same" name="delivery" value="same-day" disabled>
      <label class="c-radio__label" for="delivery-same">Same day (not available in your area)</label>
    </div>
  </div>
</fieldset>
