<div class="l-stack l-stack--sm">
  <div class="c-toggle">
    <input class="c-toggle__input" type="checkbox" role="switch" id="setting-email" checked aria-describedby="setting-email-hint">
    <label class="c-toggle__label" for="setting-email">Email notifications</label>
    <p class="c-toggle__hint" id="setting-email-hint">Applies straight away.</p>
  </div>
  <div class="c-toggle">
    <input class="c-toggle__input" type="checkbox" role="switch" id="setting-digest">
    <label class="c-toggle__label" for="setting-digest">Weekly digest</label>
  </div>
  <div class="c-toggle" data-state="loading" aria-busy="true">
    <input class="c-toggle__input" type="checkbox" role="switch" id="setting-beta" checked disabled>
    <label class="c-toggle__label" for="setting-beta">Beta features</label>
  </div>
</div>
